
<!--<h1>New user</h1>

<form accept-charset="UTF-8" action="<%= users_path%>" data-remote="true" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="text" name="user[username]">
  <input type="email" name="user[email]">
  <input type="password" name="user[password]">
  <input type="submit" name="user[submit]" value="Create" data-disable-with="Create" />
</form>-->

<%= form_with model: @user, class: "nifty_form" do |f| %>
  <%= f.text_field :username, placeholder: "Your name"%>
  <%= f.email_field :email, placeholder: "example@example.com"%>
  <%= f.password_field :password, placeholder: "Your password"%>
  <%= f.submit "Create" %>
<% end %>
